<div class="m-4">
    <h2 class="m-2" style="margin-bottom:0">
        <span>Búsqueda de Clientes</span>
    </h2>
    <div>
        <mat-accordion class="example-headers-align">
            <mat-expansion-panel [expanded]="step===0" (opened)="setStep(0)">
                <mat-expansion-panel-header class="">
                    <mat-panel-title class="text-uppercase font-bold"> Filtros búsqueda</mat-panel-title>
                </mat-expansion-panel-header>
                <form [formGroup]="filterSearchForm" class="padding-sides-10" (ngSubmit)="searchCustomer()">

                    <mat-card>

                        <div class="row g-3">
                            <div class="col">
                                <mat-form-field class="medida-control-form">
                                    <input trim matInput placeholder="Numero documento" formControlName="document"
                                        minlength="8" autocomplete="off">
                                </mat-form-field>
                            </div>
                            <div class="col">
                                <mat-form-field class="medida-control-form">
                                    <input trim matInput placeholder="Email" formControlName="email" maxlength="50"
                                        autocomplete="off">
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-card>
                    <mat-action-row>
                        <div class="d-flex flex-row">
                            <div>
                                <button type=button (click)="addCustomer()" mat-raised-button color="primary">Registrar
                                    Cliente</button>
                                <button type=button (click)="viewGrafics()" mat-raised-button color="accent">Ver
                                    Gráficas</button>
                            </div>
                            <div>
                                <button [disabled]="this.filterSearchForm.invalid" type="submit" mat-raised-button
                                    color="primary">Buscar</button>
                                <button type=button (click)="resetForm()" mat-button color="accent">Limpiar</button>
                            </div>

                        </div>
                    </mat-action-row>
                </form>
            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" [disabled]="resultsLength === 0">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h4 class="text-uppercase"> Resultados de la búsqueda</h4>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="">
                    <mat-table [dataSource]="dataSource" matSort #tableCustomer matSortActive="created" matSortDisableClear matSortDirection="asc">
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

                        <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Completo </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.name}} {{ element.lastname}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="email">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Correo </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.mail}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="document">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Documento </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.document}} </mat-cell>
                        </ng-container>
                    </mat-table>
                    <mat-paginator [length]="resultsLength" [pageSizeOptions]="[10, 25,50]" showFirstLastButtons="true"></mat-paginator>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>